<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <div id="outer">
        <img src="/img/bars.svg" alt="Tally">
        <h1>Change password</h1>
        <div id="card">
            <form id="passwordForm" onsubmit="return postPassword(event)">
                <label for="password">Password</label>
                <br>
                <input autofocus required type="password" name="password" id="password" placeholder="New password">
                <br>
                <div id="displayStatus"></div>
                <button id="submit" type="submit"><b>Set password</b></button>
            </form>
        </div>
    </div>
</body>

</html>